

footer {
  background-color: #000;
  color: #fff ;
  padding: 2rem 0;
}

footer h5 {
  color: #ff1e1e; /* Títulos en rojo */
}

footer input[type="email"] {
  background-color: #222 !important;
  color: #fff !important;
  border: 1px solid #555;
}

footer input[type="email"]:focus {
  background-color: #222 !important;
  color: #fff !important;
}

footer small {
  color: #aaa;
}
