.navbar {
  background-color: #000 !important; /* Fondo negro */
  border-bottom: 2px solid #ff1e1e;
}

.navbar-brand,
.nav-link,
.navbar-text {
  color: #fff !important;
}

.navbar-brand:hover,
.nav-link:hover {
  color: #ff1e1e !important;
}

.navbar-toggler {
  border-color: #ff1e1e;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255, 30, 30, 1)' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
